<a href="/playlist/{{_id}}" id="{{_id}}">
  <div class="card">
    <div>
      <img
        src="../public/images/delete.svg"
        alt="delete button"
        class="card-delete"
      />
      <img src="{{image}}" alt="{{name}}" class="image-icon" />
    </div>
    <br />
    <h3 class="card-title">{{name}}</h3>

  </div>
</a>