<a href="/playlist/{{_id}}" id="{{_id}}">
  <div class="card">
    <div>
      <form action="/playlist/{{_id}}/delete" method="post">
        <button type="submit" class="card-delete"></button>
        <img src="../public/images/delete.svg" alt="" />
      </form>
      <img src="{{image}}" alt="{{name}}" class="image-icon" />
    </div>
    <br />
    <h3 class="card-title">{{name}}</h3>

  </div>
</a>