{{!-- <section class="container__tracks">
  <h1>Albums for: {{artist.0.artists.0.name}}</h1>
  <div class="albums__cards">
    {{#each artist}}
      <div class="albums__cards_each">
        <img
          src="{{this.images.0.url}}"
          alt="{{this.name}}"
          class="albums__image"
        />

        <div class="card__info">
          <h4 class="card__info--title">
            {{this.name}}
          </h4>
        </div>
        <a href="/view-tracks/{{this.id}}" class="card__info--link">View Tracks</a>
      </div>
    {{/each}}

  </div>
  <br /><br />
  <a
    href="/search?artist_name={{artist.0.artists.0.name}}"
    class="goback-home-button"
  >HOME</a>

</section>
 --}}

<section class="search-block">
  <div class="search-block-results">
    {{#each artist}}
      <div class="search-block-cards">
        <img
          src="{{this.images.0.url}}"
          alt="{{this.name}}"
          class="search-block-image"
        />

        <div class="search-block-info">
          <h3 class="search-block-info-title"> {{this.name}} </h3>
        </div>
        <a href="/view-tracks/{{this.id}}" class="search-block-info-link">View
          Albums</a>
      </div>
    {{/each}}
  </div>

  <br /><br /><br /><br />
  <a href="/home" class="goback-home-button">HOME</a>
</section>