<section class="eachSong">
  <div class="song-by-artist"><h1>Songs by {{tracks.0.artists.0.name}}</h1></div>
  {{#each tracks}}
    <section class="song-tab">
      <h3 class="song-by-artist-title">{{name}}</h3>
      <audio
        controls
        src="{{preview_url}}"
        class="song-by-artist-audio"
      ></audio>
      <form action="/addSong" method="post" class="add-song">
        <input type="text" name="preview" value="{{preview_url}}" hidden />
        <input type="text" name="artist" value="{{artists.0.name}}" hidden />
         <input type="text" name="track" value="{{name}}" hidden />
      <label for="folder" style="font-weight:bold">Select folder</label>
        <select name="folder" class="folder-select">
          {{#each ../userFolders}}
            <option value="{{this._id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <button type="submit">Add song to list</button>
      </form>
    </section>
  {{/each}}
  <br /><br />
  <a href="/home" class="goback-home-button">HOME</a>

</section>