{{!-- <h1>edit {{playlist.name}}</h1>

<form
  action="/playlist/{{playlist._id}}/edit"
  method="post"
  enctype="multipart/form-data"
>
  <label for="name">Name:</label>
  <input
    type="text"
    name="name"
    id="name"
    placeholder="{{playlist.name}}"
    value="{{playlist.name}}"
    required
  />

  <label for="image">Image:</label>
  <input type="file" name="image" id="image" />

  <button type="submit">Update Playlist</button>

</form>
 --}}
<section class="song-block-edit">
  <h1>Edit {{playlist.name}}</h1>

  <form action="/create-playlist" method="post" enctype="multipart/form-data">
    <label for="name">Name:</label>
    <input
      type="text"
      name="name"
      class="create-name-edit"
      placeholder="{{playlist.name}}"
      value="{{playlist.name}}"
      required
    />
    <br /><br />

    <label for="image">Image:</label>
    <input type="file" name="image" id="image" />
    <br />

    <div class="create-button">
      <button type="submit">Update Playlist</button>
    </div>

  </form>
  <a href="/home" class="goback-home-button">Go back</a>
</section>